/* Write your CSS here */
.bg-container {
  min-height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #231f20;
  color: white;
  align-items: center;
}
.upperBanner {
  width: 100%;
}
.bannerImage {
  width: 100%;
}
.firstContainer {
  width: 100%;
  /* display: flex;
  flex-direction: column; */
}
.secondContainer {
  width: 100%;
  /* display: flex;
  flex-direction: column; */
}
